[submodule "ComplexEventProcessingEngine"]
	path = ComplexEventProcessingEngine
	url = https://github.com/espertechinc/esper.git
[submodule "TradingPlatform"]
	path = TradingPlatform
	url = https://github.com/gopalanj/marketcetera.git
[submodule "TradingInterface"]
	path = TradingInterface
	url = https://github.com/vnpy/vnpy.git
